@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
  background: rgba(25, 37, 64, 0.4);
  backdrop-filter: blur(24px);
}

.neon-glow {
  text-shadow: 0 0 15px rgba(129, 236, 255, 0.4);
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
